body {
  font-family: "Frank Ruhl Libre", serif;
  display: flex;
  font-size: 24px;
}
.container {
  background: content-box radial-gradient(rgb(7, 196, 203), #feb23f);

  width: 800px;
  margin: 60px auto;

  border-radius: 6px;
}
h1 {
  text-align: center;
  font-weight: 700;
  color: rgb(3, 121, 148);
  margin-top: 20px;
}
h2 {
  text-align: center;
  color: rgb(119, 7, 3);
}

.current {
  margin: 50px auto 50px auto;
  text-align: center;
  font-size: 30px;
  color: rgb(119, 7, 3);
}

.active {
  text-decoration: none;
  cursor: default;
  color: rgb(119, 7, 3);
}
.inactive {
  opacity: 0.5;
  text-decoration: none;
  color: rgb(119, 7, 3);
}
.units {
  font-size: 20px;
}
.detailed {
  margin-top: 15px;
  font-size: 18px;
  text-align: left;
}

.weatheForecast {
  margin-bottom: 50px;
  padding-left: 50px;
  padding-right: 50px;
  text-align: center;
  font-size: 16px;
}

.forecastTempMin {
  opacity: 0.5;
}

.searchBar {
  margin: auto auto 20px auto;
  align-items: center;
  justify-content: center;

  display: flex;
}
.searchCity {
  width: 120px;
  height: 100%;
  background-color: #feb23f;
  border-color: rgb(3, 121, 148);
}
.searchCity:hover {
  background-color: rgb(3, 121, 148);
  border-color: rgb(249, 94, 11);
}
.location {
  height: 100%;
  background-color: rgb(7, 196, 203);
  border-color: rgb(249, 94, 11);
}
.location:hover {
  background-color: rgb(249, 94, 11);
  border-color: rgb(3, 121, 148);
}
.inputCity {
  border-radius: 8px;
  height: auto;
}
.openSourceLink {
  text-align: center;
  font-size: small;
  margin-bottom: 10px;
  color: rgb(119, 7, 3);
}
.openSource {
  text-align: center;
  font-size: small;
  margin-bottom: 10px;
}
